@charset "UTF-8";

.intro_frame {
	width:60%;
	margin:0 auto;
	overflow:hidden
}

.myName {
	font-weight:bold;
	font-size:28px;
}

.intro_box {
	float:left;
	clear:both;
	margin:45px 5px 5px 5px;
	padding:3%;
	width:90%;
	background-color:#fcfcfc;
	border-radius:5px;
	-moz-box-shadow: 0 3px 6px rgba(.5,.6,.8,.2);
	-webkit-box-shadow: 0 3px 6px rgba(.5,.6,.8,.2);
	box-shadow: 0 3px 6px rgba(.5,.6,.8,.2);
}

.intro_title {
	font-weight:bold;
	font-size:32px;
	margin-bottom:45px;
	color:#565656;
	letter-spacing:5px;
}

.intro_ymd {
	font-weight:bold;
	font-size:21px;
	margin-bottom:20px;
}

.s_tx_b_style {
	font-weight:bold;
	font-size:17px;
}

.s_tx_style {
	font-size:16px;
}

.s_tx_br_style {
	font-size:16px;
	display:block;
}

.s_tx_brs_style {
	font-size:8px;
	display:block;
}

.intro_img {
	float:left;
	-moz-box-shadow: 0 3px 6px rgba(.5,.6,.8,.2), 0 3px 6px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 6px rgba(.5,.6,.8,.2), 0 3px 6px rgba(0,0,0,.2);
	box-shadow: 0 3px 6px rgba(.5,.6,.8,.2), 0 3px 6px rgba(0,0,0,.2);
	border-radius:10px;
	overflow:hidden;
	margin:0 25px 15px 0;
}

.intro_img_none {
	float:left;
	-moz-box-shadow: 0 3px 6px rgba(.5,.6,.8,.2), 0 3px 6px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 6px rgba(.5,.6,.8,.2), 0 3px 6px rgba(0,0,0,.2);
	box-shadow: 0 3px 6px rgba(.5,.6,.8,.2), 0 3px 6px rgba(0,0,0,.2);
	border-radius:70px;
	overflow:hidden;
	margin:0 25px 15px 0;
	opacity:0.6;
}

.intro_img img {
	width:250px;
	vertical-align:middle;
}

.intro_img_none .img_none {
	width:120px;
	vertical-align:middle;
}

.intro_content_box {
	float:left;
	
}

.tx_gap {
	margin-top:18px;
}

.tx_gap .content_box {
	overflow:hidden;
	padding:10px;
	background-color:#222222;
	border-radius:5px;
	color:white;
	line-height:22px;
	font-size:14px;
}

.color-pr600 {
	color:#1266FF;
}

.color_br600 {
	color:#FF1291;
}

.color_g600 {
	color:#BC2424;
}

@media screen and (max-width: 660px) {

	.intro_title {
		font-size:28px;
		margin-bottom:40px;
		letter-spacing:5px;
	}

	.intro_frame {
		width:90%;
		margin:0 auto;
	}
	
	.intro_ymd {
		font-weight:bold;
		font-size:15px;
	}
	
	.intro_img img {
		width:150px;
	}
	
	.intro_img_none .img_none {
		width:60px;
		vertical-align:middle;
	}
	
	.s_tx_b_style {
		font-size:13px;
	}
	
	.s_tx_style {
		font-size:13px;
	}
	
	.s_tx_br_style {
		font-size:13px;
		display:block;
	}
	
	.tx_gap {
		margin-top:13px;
	}
	
	.tx_gap .content_box {
		font-size:12px;
	}

	.s_tx_brs_style {
		font-size:5px;
		display:block;
	}	
}
