@charset "UTF-8";

.notice_frame {
	width:60%;
	overflow:hidden;
	margin:0 auto;
}

.notice_header {
	border-bottom:3px solid #666666;
	padding-bottom:10px;
	margin-bottom:20px;
}

.notice_header h1 {
	color:#444444;
}

.notice_body {
	overflow:hidden;
	min-height:100px;
	padding-bottom:100px;
}

.notice_body .detail {
	padding:10px;
	overflow:hidden;
}

.notice_body .notice_box {
	width:95%;
	margin:0 auto;
	padding:15px 10px 20px 10px;
	border-bottom:1px solid #666666;
	height:100px;
}

.notice_body .notice_box:hover {
	cursor:pointer;
	background-color:#efefef;
	text-decoration:underline;
	text-decoration-color:#555555;
	text-underline-position: under;;
}

.notice_body .subject {
	width:100%;
	font-size:18px;
	font-weight:bold;
	color:#555555;
	overflow:hidden;
}

.notice_body .content {
	width:100%;
	margin: 5px 0;
	font-size:14px;
	color:#333333;
	overflow:hidden;
	display:-webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient:vertical;
	line-height:1.6;
	max-height:4.8em;
}

.notice_body .other {
	font-size: 13px;
	margin-top:5px;
	color:#333333;
}

.notice_bottom {
	border-top:3px solid #666666;
}

.notice_body .detail .detail_subject {
	margin-bottom:10px;
	width:100%;
	font-size:20px;
	font-weight:bold;
	color:#333333;
	overflow:hidden;
	max-width:700px;
	text-align:center;
}

.notice_body .detail .detail_content {
	margin-bottom:20px;
	width:100%;
	margin: 5px 0 25px 0;
	font-size:14px;
	color:#333333;
	overflow:hidden;
	max-width:700px;
}

.notice_body .detail_content p{
	line-height:25px;
	margin-top:10px;
}

.notice_body .detail_content img {
	width:90%;
	border:1px solid #efefef;
	margin:10px 0;
	padding:10px;
}

.notice_body .detail_content textarea{
	height:8em;
	max-width:700px;
	width:100%;
	border:none;
	resize:none;
	font-size:14px;
	color:#333333;
	line-height:25px;
	background-color:#232323;
	overflow:auto;
	padding-top:5px;
	color:#efefef;
	border-left:5px inset lawngreen;
}

.notice_body .detail_content table {
	border-collapse: collapse;
}

.notice_body .detail_content th {
	background-color:#efefef;
}

.notice_body .detail_content th,td {
	border:1px solid #cccccc;
	padding:2px 5px;
}

.notice_body .detail_content .title {
	font-weight:bold;
	font-size:16px;
	color:#222222;
}

@media screen and (max-width: 660px) {
	.notice_frame {
		width:90%;
		margin:0 auto;
	}
	
	.notice_header h1 {
		color:#444444;
		font-size:22px; 
	}
	
	.notice_body .subject {
		font-size:15px;
	}
	
	.notice_body .content {
		font-size:13px;
	}
	
	.notice_body .other {
		font-size: 12px;
	}
	
	.notice_body .detail_content p{
		line-height:25px;
		font-size:14px;
	}
	
	.notice_body .detail_content .title {
		font-weight:bold;
		font-size:15px;
		color:#222222;
	}
}